{% extends 'base.html' %}

<!-- update the heading to be OWASP Vulnerabilities -->


<!-- Use a for loop to display the OWASP ranks in a table. -->
{% block content %}


<div class="row">
    {% for v in vulnerabilities %}
    <div class="col-12 col-md-12 mb-3">
        <div class="card text-bg-primary p-3">
            <h5>{{ v.vul_name }}</h5>
            <p>Rank: {{ v.owasp_rank }}</p>
            <a href="/incidents/{{ v.id }}" class="btn btn-info">View</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}